<div>
<img class="profile-picture" src="../images/mypic.png" />

</br></br></br>

Mohith Kulkarni  <br/>
Associate Support Engineer<br/>
<a href="https://www.mathworks.com/">MathWorks</a>  <br/>
Email: mohith.kmk [at] gmail.com
<!-- <br>
 <a style="width:auto; height:10px;"href="data/resume.pdf"><img class="custom_logo" src="images/iit_dhn_logo.png" alt="IIT Dhanbad" id="iit_dhn_logo"/></a>
 <a style="width:auto; height:10px;"href="https://www.iitism.ac.in/"><img class="custom_logo" src="images/iit_dhn_logo.png" alt="IIT Dhanbad" id="iit_dhn_logo"/></a>
 <a style="width:auto; height:10px;"href="https://www.iitism.ac.in/"><img class="custom_logo" src="images/iit_dhn_logo.png" alt="IIT Dhanbad" id="iit_dhn_logo"/></a>
 -->
</div>
<div style="clear:both"></div>
<hr />
